<!DOCTYPE html>
<html>
  <head>
  	<title>First page by Symfony</title>
  </head>
  <body>  	
	<h1 align="center">Hi, my name is {{ name }}</h1>
	<h3><u>Age: {{ age }}</u></h2>
	<h4><i>Email: {{ email }}</i></h2>
  </body>
</html>
